<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<%- include  partials/navbar.ejs %>




<div class="col-md-12">
    <input type="hidden" id="name-user" value="<%= user.username %>">
    <input type="hidden" id="name-image" value="<%= user.userImage %>">
    <div class="">
        <div class="row">


            <div class="col-md-12">
                <div>
                  <% _.forEach(chunks, function(val){ %>

                    <div class="category-list">
                        <div class="row">
                          <% _.forEach(val, function(val2){ %>
                            <form action="/home" method="post" id="favourite">
                                <div class="item col-md-3">
                                    <a style="text-decoration:none" href="#">
                                      <div class="thumbnail">
                                         <img src= "https://grecmihaiusersbucket.s3.amazonaws.com/<%= val2.friendId.userImage%>" style="weight: 250px; height: 250px;" alt="">
                                          <div class="caption">
                                          <div class="row">
                                                  <div class="col-xs-12 col-md-12">
                                                    <h4 style="color:#4aa1f3;"><a href="/profile/<%= val2.friendId.username.replace(/ /g, "-") %>"> <%= val2.friendId.username %> </a>
                                                    <a href="/chat/<%= val2.friendId.username.replace(/ /g, "-") %>.<%= user.username.replace(/ /g, "-") %>" style="position:absolute; right:15px"><i class="fa fa-inbox"></i> message</a>
                                                    </h4>
                                                  </div>

                                              </div>

                                          </div>
                                      </div>
                                  </a>
                                </div>
                            </form>
                            <% }) %>
                        </div>

                    </div>

                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/messagelink.js"></script>
<script src="/js/group/groupchat.js"></script>
<script src="/js/group/sendRequest.js"></script>
<script src="/js/global.js"></script>
<script src="/js/deparam.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.js"></script>

</script>
</body>
</html>
